body{
  background-color: #2D2D2D;
}
.header{
  font-family: 'Handlee';
  font-style: normal;
  font-weight: 400;
  font-size: 82px;
  line-height: 109px;
  color: #FF0000;
  text-decoration: underline;
  margin: 40px 0;
}

.sub-header{
  font-family: 'Handlee';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 85px;
  color: #fff;
  margin: 40px 0 !important;
}
.sub-header2{
  font-family: 'Handlee';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
}
.start-btn{
  background: none;
  border: none;
  color: #fff;
  font-family: 'Handlee';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 85px;
  margin-top: 1rem;
  z-index: 2;
}

.restart-btn{
  background: none;
  border: none;
  color: #fff;
  font-family: 'Handlee';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 85px;
  margin-top: 1rem;
  z-index: 2;
}

.start-btn:hover{
  cursor: pointer;
}
.restart-btn:hover{
  cursor: pointer;
}

.vector-img{
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.vector-img-2{
  position: absolute;
  left: -7rem;
  top: -2rem;
}



.answer-tags{
  font-family: 'Handlee';
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  line-height: 120px;
  position: relative;
  margin: 40px 0;
  background: none;
  border: none;
  color: #fff;
  z-index: 2;
}

.answer-image{
  width: 203px;
  height: 178px;
  position: absolute;
  left: -5rem;
  bottom: -1rem;
}

.answer-images{
  width: 203px;
  height: 178px;
  position: absolute;
  left: -4rem;
  bottom: -1rem;
}

.answer-images:hover{
  cursor: pointer;
}

.current-question{
  font-family: 'Handlee';
  font-style: normal;
  font-weight: 400;
  font-size: 128px;
  line-height: 171px;
  position: relative;
  margin-left: 7rem;
  margin-top: 12rem;
} 

.svg-file{
  position: absolute;
  left: -3rem;
  top: -100%;
}


.vector-img:hover{
  cursor: pointer;
}

.question-li{
  font-family: 'Handlee';
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 69px;
  color: #FFFFFF;
  list-style: none;
}

/* Shortcuts */
.text-center{
  text-align: center;
}

.position-relative{
  position: relative;
}
.text-white{
  color: #fff;
}

.container{
  width: 100%;
  display: flex;
}

.col-6{
  width: 48%;
}

.d-flex{
  display: flex;
}
.flex-col{
  flex-direction: column;
}

.space-between{
  justify-content: space-between;
}

.align-center{
  align-items: center;
}
.justify-center{
  justify-content: center;
}

.as-start{
  align-self: flex-start;
}

.as-center{
  align-self: center;
}

.as-end{
  align-self: end;
}

.ml{
  margin-left: 3rem !important;
}

.ml-lg{
  margin-left: 8rem !important;
}

.mx-auto{
  margin: 0 auto;
}

